.bg-img {
    background-image: url("../img/bg_img/banner-bg.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 667px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

.bg-img-weather {
    background-image: url("../img/bg_img/weather-bg.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 667px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}